<div id="controller" class="text-center">
    <h1 class="text-xl">Metrist</h1>

    <p class="mt-5">Welcome to the Metrist Datadog App.</p>

    <.link navigate={Routes.synthetics_wizard_path(@socket, :start)} class="p-3">
        <button class={"#{button_class("large")} mt-10"}>
            Setup synthetics
        </button>
    </.link>
</div>
